@import '../../styles/variables.scss';

.filter {
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    &__header {
        padding: 25px 25px 0 25px;
        margin: 0px 0px 20px 0px;
        @media (max-width:$maxwidth3){
            padding: 15px 15px 0 15px;
        }
    }


    &__title {
        font-weight: bold;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: #4A4A4A;
    }

    &__body {
    }
}

.checkbox {
    cursor: pointer;
    padding: 25px;
    display: flex;
    align-items: center;
    transition: .3s ease;
    @media (max-width:$maxwidth3){
        padding: 15px;
    }
    &:hover {
        background: #F1FCFF;
    }
    &__input {
        display: none;
        &:checked ~ .checkbox__custom {
            background: url('../../assets/check.svg');
            background-color: #fff;
            background-repeat: no-repeat;
            background-position: center;
            border: 1px solid #2196F3;
        }
    }


    &__custom {
        background-color: #fff;
        display: inline-block;
        width: 20px;
        height: 20px;
        border: 1px solid #9ABBCE;
        border-radius: 2px;
        margin: 0px 10px 0px 0px;
    }

    &__text {
    }
}
